body, html {
    height: 100%;
}

.bg {

    height: 100%;

    /* Center and scale the image nicely */
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
}

.menu-style {
    /*height: ;*/
    list-style: none;
    padding-bottom: 0px;
    /*padding-right: 15px;*/
    background-color: #324051;
    border-right-style: solid;
    border-right-color: #777777;
    /*color: #1f2833;*/
    /*color: #c5c6c7;*/
    /*color: #66fcf1;*/
    /*color: #45a29e;*/
}

.menu-item {
    width: 100%;
    padding-bottom: 0px;
}

.col_mp:hover {
    color: #324051 !important;
    background-color: #45a29e !important;;
}

.col_mp > * {
    background-color: #45a29e;
    color: red !important;
}

.col_mp {
    color: #324051;
}

.calendar-container {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.menu-item-font-color {
    color: #66fcf1;
}

.logout-button-color {
    color: #777777;
}

.item-font-color {
    color: #66fcf1;
}

.page-header {
    background-position-x: center;
    font-size: 26px;
    color: #66fcf1;
}

.all-elements-padding {
    padding-left: 20px;
}

a:hover {
    color: #45a29e;
}

.react-datepicker__day--selected, .react-datepicker__day--keyboard-selected {
    background-color: #45a29e !important;
}

.react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
    color: #324051 !important;
}

.selected_date_mp {
    color: #324051 !important;
}

.button-color {
    border: solid #45a29e;
    background-color: #45a29e;
    border-radius: 2px;
}

.button-position {
    display: flex;
    position: absolute;
    border: solid #45a29e;
    background-color: #45a29e;
    border-radius: 2px;
    justify-content: flex-end;
    align-items: center;
}

.deletion-button {
    background-color: #8886a2;
    border: #8886a2 2px solid;
    display: flex;
    position: absolute;
    right: 5%;
    border-radius: 2px;
    justify-content: flex-end;
    align-items: center;
}

.axis path,
.axis line,
.bar,
.axis text {
    fill: #ddd;
}

.legend {
    fill: #ddd !important;
    color: #ddd;
}

.selected_cell {
    background-color: #45a29e !important;
    color: #324051 !important;
}

.ReactTable .rt-table {
    width: 95%;
    margin-top: 20px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background: #324051;
    border: 2px solid #777777;
}

.ReactTable .rt-thead {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #45a29e;
}

.ReactTable .rt-tr-group {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.ReactTable .rt-tr {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    /*display: -webkit-inline-box;*/
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.ReactTable .rt-th,
.ReactTable .rt-td {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0px;
    flex: 1 0 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 7px 5px;
    overflow: hidden;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    -webkit-transition-property: width, min-width, padding, opacity;
    transition-property: width, min-width, padding, opacity;
    border-style: solid;
    border-width: 1px;
    border-color: #777777;
}

.Dropdown-root {
    width: 300px;
}

select,
optgroup {
    visibility: hidden;
    height: 0px;
}

button {
    border: solid #45a29e;
    background-color: #45a29e;
    border-radius: 2px;
    color: #1f2833;
    margin-top: 10px;
    display: inline-block;
}
